<!-- forms.html -->
{{if .GotData}}

{{if .Day.IsValid}}
<h1>This is how your working day should be:</h1>

<h5>
    Clock in: {{.Day.ClockIn}} <br>

    Start break: {{.Day.StartBreak}} <br>

    End break: {{.Day.EndBreak}} <br>

    Clock out: {{.Day.ClockOut}} <br>
</h5>

<h3>Total: {{.Day.Total}}</h3>

{{else}}
<h1>Missing clock in</h1>
{{end}}

{{else}}
<h1>Working day</h1>
<form method="POST">

    <label>Clock in (HH:MM):</label><br />
    <input type="text" name="clock_in"><br />

    <label>Start break (HH:MM):</label><br />
    <input type="text" name="start_break"><br />

    <label>End break (HH:MM):</label><br />
    <input type="text" name="end_break"><br />

    <label>Clock out (HH:MM):</label><br />
    <input type="text" name="clock_out"><br />

    <input type="submit">

</form>
{{end}}